/* commented out main-body because padding made background padded too */
/* .main-body {
    padding: 10px !important;
}   */
.campaign-title {
  margin-bottom: 0px;
  font-size: 16px;
  margin-top: 4px;
}

.dollar-icon {
  height: 14px;
}

a {
  color: black;
}

h5 {
  font-size: 16px;
}

.container-fluid {
  background-image: url(/static/images/homepage.png);
  background-size: cover;
  height: 812px;
}

.container-fluid-campaign {
  background-image: url(/static/images/campaign.png);
  background-size: cover;
  height: 812px;
}

.container-fluid-details {
    background-image: url(/static/images/details.png);
    background-size: cover;
    height: 812px;
  }
.container-fluid-impact {
  background-image: url(/static/images/impact.png);
  background-size: cover;
  height: 812px;
}

.button-design {
  margin: 200px auto;
}

.btn-block {
  width: 200px !important;
}
.btn-social {
  color: #4ba97d !important;
}
.indiv-btn {
  font-size: 20px !important;
  color: #c37813 !important;
  border: 1px solid #80808033 !important;
  border-radius: 25px !important;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2) !important;
}
/* .clickable{
    position: relative;
  }
.clickable a{
position: absolute;
width:100%;
height:100%;
top:0px;
left:0px;
} */
