.main-body {
    padding: 10px !important;
}  

.campaign-title {
    margin-bottom: 0px;
    font-size: 16px;
    margin-top: 4px;
}

.dollar-icon {
    height: 14px;
}

a {
    color: black;
}

h5 {
    font-size:16px;
}
/* .clickable{
    position: relative;
  }
.clickable a{
position: absolute;
width:100%;
height:100%;
top:0px;
left:0px;
} */