{% extends "index.html" %}

{% block content %}
<a href="{{ url_for('campaigns') }}" style="
position: absolute;
top: 60px;
height: 30px;
width: 40px;
left: 12px;"></a>

<div
  class="container-fluid-details"
  style="background-image:url('/static/images/details.png'); background-size: cover; "
>

<div style="position: absolute;top: 410px;
left: 99px;right: 99px">
<h5 style="font-size: 14px; color:#775436;" class="campaign-title">Bukit Nanas Degradation</h5>
              
<p style= "font-size:10px; margin-bottom:3px; margin-top:4px;color:black" class="card-text font-weight-lighter"><ion-icon style="padding-right: 1px;
    font-size: 11px;" name="pin"></ion-icon> Bukit Nanas, Kuala Lumpur </p>   
</div>

<div style="position: absolute;top: 470px;
left: 55px; right:55px">
    <p style= "font-size:12px; color:#898A8F" class="card-text font-weight-lighter"> Recently there has been degradation around the northeast of Bukit Nanas reserve forest. 
        Restoration with new trees is needed. </p>   
</div>

<div style="position: absolute;top: 557px;">
    <h5 style="font-size: 14px; color:black;left: 52px; right:55px;position:absolute" >Trees: </h5>
</div>
<h5 style="font-size: 29px; color:#C37813;left: 115px; right:230px;top:547px;position:absolute" >33 </h5>

<div style="position: absolute;top: 621px">
    <h5 style="font-size: 14px; color:black; left: 52px; right:55px; position:absolute">People: </h5>
</div>
<h5 style="font-size: 29px; color:#C37813;left: 115px; right:230px;top:612px;position:absolute" >15 </h5>

<div style="position: absolute;top: 547px">
        <h5 style="font-size: 14px; color:black; left: 206px; right:50px; position:absolute;white-space: nowrap;">Type of tree:</h5>
</div>
<h5 style="font-size: 12px; color:#C37813;left: 206px; right:60px;top:570px;position:absolute;">Acacia maginum </h5>

<div style="position: absolute;top: 611px">
        <h5 style="font-size: 14px; color:black; left: 206px; right:50px; position:absolute;white-space: nowrap;">Skill Needed:</h5>
</div>
<h5 style="font-size: 12px; color:#C37813;left: 206px; right:22px;top:630px;position:absolute;">Weeding, Landscaping, Manual labour </h5>


{% endblock %}