{% extends "index.html" %} {% block content %}
<div
  class="container-fluid"
  style="background-image:url('/static/images/homepage.png'); background-size: cover; "
>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <span class="navbar-brand mb-0 h1">Now</span>
      <!-- <span class="navbar-text">
         Activites
        </span> -->
    </a>
  </nav>
  <div
    class="button-design row d-flex align-items-center justify-content-center"
  >
    <div class="row" style="margin: 20px;">
      <a
        href="{{ url_for('campaigns') }}"
        class="btn btn-outline-primary btn-lg btn-block"
        role="button"
        >Volunteer</a
      >
    </div>
    <div class="w-100"></div>
    <div class="row" style="margin: 20px;">
      <button type="button" class="btn btn-outline-primary btn-lg btn-block">
        Donor
      </button>
    </div>
    <div class="w-100"></div>
    <div class="row" style="margin: 20px;">
      <button type="button" class="btn btn-outline-primary btn-lg btn-block">
        Land Owner
      </button>
    </div>
  </div>

  {% endblock %}
</div>
