{% extends "index.html" %} {% block content %}

<div
  class="container-fluid-impact"
  style="background-image:url('/static/images/impact.png'); background-size: cover;"
>
  <nav class="navbar navbar-light" style="height:100px">
    <a class="navbar-brand" href="{{ url_for('campaigns') }}">
      <span class="navbar-brand mb-0 h1"></span>
      <span class="navbar-text"> </span>
    </a>
  </nav>
  <div class="card-body">
    <h5
      class="card-title"
      style="position: absolute;
    top: 270px;
    left: 40px;"
    >
      My Contributions to the Planet
    </h5>
    <p
      class="card-text-impact"
      style="position: absolute;
    left: 50px; top: 330px"
    >
      9 Trees Planted
    </p>
    <p
      class="card-text-impact"
      style="position: absolute;
    left: 50px; top: 390px"
    >
      217 kg CO2 Emissions reduced
    </p>
    <p
      class="card-text-impact"
      style="position: absolute;
    left: 50px; top: 450px"
    >
      14 Hours Volunteered
    </p>
    <br />
    <div class="card-body">
      <h6 class="card-title" style="position: absolute; top: 580px;">
        See the change over time:
      </h6>
    </div>
    <div class="card-body">
      <div class="row" style="position: absolute; top: 710px; left: 120px;">
        <a
          href="https://twitter.com/intent/tweet?text=I'm+saving+the+world+with+NOW+app.+Check+what+I+have+done+so+far!+Join+me+at+www.NOW.com+pic.twitter.com/4ZgtTHHSlk"
          class="btn btn-social btn-twitter"
        >
          <i class="fa fa-twitter"><ion-icon name="logo-twitter"></ion-icon></i
        ></a>
        <a class="btn btn-social btn-twitter">
          <i><ion-icon name="logo-facebook"></ion-icon></i>
        </a>
        <a class="btn btn-social btn-twitter">
          <i><ion-icon name="logo-linkedin"></ion-icon></i>
        </a>
        <a class="btn btn-social btn-twitter">
          <i><ion-icon name="link"></ion-icon></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- "https://twitter.com/share?text='I'm saving the world with NOW app. Check what I have done so far!'" -->
