{% extends "index.html" %} {% block content %}

<div
  class="container-fluid-impact"
  style="background-image:url('/static/images/impact.png'); background-size: cover;"
>
  <nav class="navbar navbar-light" style="height:100px">
    <a class="navbar-brand" href="{{ url_for('campaigns') }}">
      <span class="navbar-brand mb-0 h1"></span>
      <span class="navbar-text"> </span>
    </a>
  </nav>
  <div class="card-body">
    <h6
      class="card-title"
      style="position: absolute;
    top: 280px;
    left: 80px;
    color:#775436"
    >
      My Contributions to the Planet
    </h6>
    <p
      class="card-text-impact"
      style="position: absolute;
    left: 50px; top: 310px"
    >
      <strong class='tree' style="width: 56px;
      margin-right: 10px;">&nbsp;&nbsp;{{impact.trees}}&nbsp;&nbsp;</strong> Trees Planted
    </p>
    <p
      class="card-text-impact"
      style="position: absolute;
    left: 50px; top: 390px"
    >
      <strong style='width: 56px;
      margin-right: 10px;'>{{impact.co2}}</strong>&nbsp; kg CO2 Emissions reduced
    </p>
    <p
      class="card-text-impact"
      style="position: absolute;
    left: 50px; top: 470px"
    >
      <strong style="width: 56px;
      margin-right: 10px;">&nbsp;{{impact.hours}}&nbsp;</strong> &nbsp;Hours Volunteered
    </p>
    <br />
    <div class="card-body">
      <h6 class="card-title" style="position: absolute; top: 580px;">
        See the change over time:
      </h6>
    </div>
    <div class="card-body">
      <div class="row" style="position: absolute; top: 710px; left: 120px;">
        <a
          href="https://twitter.com/intent/tweet?text=I'm+saving+the+world+with+NOW+app.+Check+what+I+have+done+so+far!+Join+me+at+www.NOW.com+pic.twitter.com/4ZgtTHHSlk"
          class="btn btn-social btn-twitter"
        >
          <i class="fa fa-twitter"><ion-icon name="logo-twitter"></ion-icon></i
        ></a>
        <a class="btn btn-social btn-twitter">
          <i><ion-icon name="logo-facebook"></ion-icon></i>
        </a>
        <a class="btn btn-social btn-twitter">
          <i><ion-icon name="logo-linkedin"></ion-icon></i>
        </a>
        <a class="btn btn-social btn-twitter">
          <i><ion-icon name="link"></ion-icon></i>
        </a>
      </div>
    </div>
  </div>
</div>

<a href="{{ url_for('contribution') }}" style="
position: absolute;
bottom: 125px;
height: 65px;
width: 310px;
left: 30px;"></a>

<a onclick="level2impact()" style="
position: absolute;
left: 10px;
bottom: 20px;
height: 80px;
width: 80px;"></a>

<a onclick="level3impact()" style="
position: absolute;
right: 10px;
bottom: 20px;
height: 80px;
width: 80px;"></a>

<script type="text/javascript">
  function level2impact() {
    console.log('Level 2');
    $(".container-fluid-impact").css("background-image", "url('/static/images/impact2.png')");
    $(".container-fluid-impact").html("<span class='spent_time'>2.5 h</span> <span class=");
  }
  function level3impact() {
    console.log('Level 3');
    $(".container-fluid-impact").css("background-image", "url('/static/images/impact.png')");
  }
</script>
{% endblock %}
<!-- "https://twitter.com/share?text='I'm saving the world with NOW app. Check what I have done so far!'" -->
